@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    font-family: "Poppins", Georgia, 'Times New Roman', Times, serif;
    margin-left: 40%;
}

.principal h1 {
    color: black;
}

.principal {
    background-color: cadetblue;
    border-radius: 15px;
    padding: 20px;
    width: 400px;
    align-items: center;
    margin-bottom: 40px;
    margin-top: 40px;
}

select,
button {
    border-radius: 10px;
}
#item{
    width: 300px;
    height: 30px;
}
option {
    align-items: center;
}

#adicionar {
    width: 100px;
    background-color: azure;
}

#adicionar:hover {
    background-color: white;
}

.itens {
    background-color: gray;
    border-radius: 15px;
    padding: 20px;
    width: 400px;
    align-items: center;
    margin-bottom: 40px;
    margin-top: 40px;
}

.itens ul {
    background-color: white;
    border-radius: 10px;
}

/*@media screen and (max-width: 768px) {
    body{
        
    }
}*/
button {
    width: 150px;
}
#adicionar-prod{
    margin-top: 20px;
}